@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding-right: 10px;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
}
